@import url('https://fonts.googleapis.com/css?family-Muli&display=swap');

/* custome property to define we use scope */
:root{
    --line-border-fill: #3498db;
    --line-border-empty: #e0e0e0e0;
}

*{
    box-sizing: border-box;
}

body {
  display: flex;
  background-color: #f6f7fb;
  font-family: 'Muli', 'sans-serif';
  margin: 0;
  align-items: center;
  justify-content:center;
  height: 100vh;
  overflow: hidden;
}

.container{
    text-align: center;
}

/* Defing progress container with max width of 350px
means everthing insdie progress container will not exceed 350px so line, circles will be fit with numbers.
*/
.progress-container{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom:30px;
    max-width: 100%;
    width: 350px;
}


/* 
 For line which will be behind the blue line for this it will be created in progress-container. use content ="" to make before work
*/
.progress-container::before{
    content: "";
    background-color:var(--line-border-empty);
    position: absolute;
    top: 50%;
    left:0;
    height: 4px;
    width: 100%;
    transform: translateY(-50%);
    z-index: -1;
    transition: .4s ease;
}

 
.progress{
    background-color: var(--line-border-fill);
    position: absolute;
    top: 50%;
    left: 0;
    height: 4px;
    width:  0%;
    /* to center the line with number */
    transform: translateY(-50%); 
    /* to make sure the line is behind the circle */
    z-index: -1;
    transition: 0.4s ease;
}

/* 
    creating circle and making everthing inside circle center also adding transition for border
*/
.circle{
    background-color: #fff;
    color: #999;
    border-radius:50%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content:center;
    align-items: center;
    border: 3px solid var(--line-border-empty);
    transition: .4s ease;
}

/* 
    changing border to blue when circle is active
*/
.circle.active{
    border-color: var(--line-border-fill);
}

.btn {
    background-color: var(--line-border-fill);
    color: #fff;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    padding: 8px 30px;
    margin: 5px;
    font-size: 14px;
    font-family:inherit;
}

.btn:active{
    transform: scale(0.98);
}

.btn:focus{
    outline: 0;
}

.btn:disabled{
    background-color: var(--line-border-empty);
    cursor: not-allowed;
}