body {
  background-color: #67e4e6;
  font-family: Helvetica;
}

a{
  color: orange;
  border: 1px solid red;
  background-color:#EDF7F7;
}

h1{
  color: #778e8f
}
h2{
  color: #778e8f;
  border: 1px solid;
}
h3{
  color: #778e8f
}

table, th {
  border: 1px solid red;
  margin-top: 10px;
}

form{
  background-color:#79e0ad;
  margin-bottom: 10px;
  margin-top: 10px;
}

.olList{
  color: gold;
}

.ulList{
  color: gray;
}
.centerDiv{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.mgLeft{
  margin-right: 70%;
}

#ulListID{
  color: red;
}

#audiHeader{

  background-color: purple;
  border: none;
}

#carHeader{
  background-color: purple;
}


#carImage{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
